<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>save</title>
    <!-- jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<!-- 회원가입 내용 -->
<!-- 내용 적으면서 자동완성 하고 싶으면 tab키 사용 하면 된다. -->
<!-- action 속성 : form에 작성한 데이터를 어디로 보낼지 지정 -> controller 즉, 서버로 요청이 가야함-->
    <form action="/member/save" method="post">
        <!-- name 속성의 역할은 서버로 전송할 때 변수 이름의 역할  -->
        <!-- 이메일에서 id="memberEmail"은 아이디를 하나만 가질 수 있다. 라는 의미 -->
        <!-- id 속성은 중복해서 쓸 수 없고, name이나 다른 것들은 중복해서 사용 가능하다.-->
        <!-- onkeyup="emailCheck()" => onkeyup은 이벤트 처리하는 속성 중 하나인데 키보드를 하나씩 입력할 때마다 함수 호출, 하나씩 칠 때마다 백엔드로 요청을 보냄 -->
        이메일 : <input type="text" name="memberEmail" id="memberEmail" onkeyup="emailCheck()"> <br>
        <span id="check-result"></span>
        비밀번호 : <input type="password" name="memberPassword"> <br>
        이름 : <input type="text" name="memberName"> <br>
        <!-- type = "submit" value = "회원가입" 하면 이 input은 버튼처럼 보인다. 그래서 이 버튼을 클릭 하면 위에 작성한 값을 가지고 '/member/save'로 post 방법 으로 가게 된다. -->
        <input type="submit" value="회원가입">
    </form>
</body>
<script th:inline="javascript">
    <!-- 이메일 중복 체크 하기 위한 내용 -->
    <!-- document는 현재 문서에서 id를 가지는 요소를 접근한다. -->
    <!-- value는 태그에 입력된 값을 접근 -->
    const emailCheck = () => {
        const email = document.getElementById("memberEmail").value;
        const checkResult = document.getElementById("check-result");
        console.log("입력값 : ", email );
    <!-- jquery에서 제공해주는 ajax 함수, 순수 자바스크립트보단 훨씬 편하게 쓸 수 있어 사용 -->
        $.ajax({
            // 요청방식 : post, url : "email-check", 데이터 : 이메일
            type : "post",
            url : "/member/email-check",
            data : {
                // 파라미터 이름 : 담겨가는 데이터
                "memberEmail" : email
            },
            // 요청 응답이 제대로 오는지 확인 하는 부분
            success : function(res) {
                 console.log("요청 성공", res);
                 if (res == "ok") {
                    console.log("사용가능한 이메일");
                    checkResult.innerHTML = "사용가능한 이메일";
                 } else {
                    console.log("이미 사용중인 이메일");
                    checkResult.innerHTML = "이미 사용중인 이메일";
                 }
            },
            error : function(err) {
                console.log("에러 발생", err);
            }
        });
    }
</script>
</html>