<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
    <!-- form에다가 데이터를 보여줘야 한다. -->
    <!-- save.html과 비슷하지만 차이점은 회원가입 시에는 빈칸으로 되어 있어 사용자가 입력해서 닐려주지만
     회원수정에는 빈칸에 db에서 가져온 내용을 채워놔야 하는 부분이 있다. -->
    <!-- input 태그 중 value의 속성은 html 모델 값을 사용 해야 하기 때문에 th:value 문법을 사용 -->
    <!-- input의 type="hidden" 값은 우리가 값을 가지고 전송하는데 사용할 수 있지만 사용자에게 안 보여 주는 용도(데이터는 보내지만 보여지지 않게 함)  -->

<form action="/member/update" method="post">
    <input type="hidden" th:value="${updateMember.id}" name="id"><br>
    <!-- 이메일은 수정 하지 못하게 하기 위해 readonly 속성 사용 -->
    <!-- name 속성은 반드시 가지고 있어야 하고, dto 필드와 일치 해야 model.addAttribute 사용 가능 -->
    이메일: <input type="text" th:value="${updateMember.memberEmail}" name="memberEmail" readonly> <br>
    비밀번호: <input type="text" th:value="${updateMember.memberPassword}" name="memberPassword"> <br>
    이름: <input type="text" th:value="${updateMember.memberName}" name="memberName"> <br>
    <input type="submit" value="정보수정">
</form>
</body>
</html>